/*******************Class selectors******************/


/* class for the type window */
.type {
    height: 220px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    font-size: 23px;
}

/************Classes for formatting characters of the typed paragraph*-----------*/

.error {
    color: red;
    padding-left: 2px;
    font-weight: 600;
}

.normalText {
    padding-left: 2px;
    color: #403400;
    font-weight: 600;
}

.inactive {
    color: grey;
    padding-left: 2px;
    font-weight: 600;
}

.expected {
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 2px;
}


/* Outer most container  */
.contents {
    margin: 30px 0 0 10%;
}


/* JOINED PLAYER DIV */

.playerListHeadder {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 20px;
    color: #f40552;
}

.players {
    position: relative;
    border: 1px solid black;
    background-color: #c3edea;
}

.playerList {
    text-align: left;
    line-height: 4;
    margin-bottom: 100px;
    overflow-y: scroll;
    height: 200px;
    border: 1px dotted rgba(0, 0, 0, 0.3);
}

.player {
    margin-left: 5px;
    margin-top: 5px;
}

.playerName {
    position: relative;
    bottom: 8px;
    left: 5px;
}

/* classes for the circular initial avatar */

.avatar-circle {
    width: 50px;
    height: 50px;
    background-color: #fc7e2f;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
}

.initials {
    position: relative;
    bottom: 4px;
    /* 25% of parent */
    font-size: 25px;
    /* 50% of parent */
    line-height: 25px;
    /* 50% of parent */
    color: #fff;
    font-weight: bold;
}

/* Start button */
.startButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}



/* Racing info classes for round information*/

.racingInfo {
    border: 2px solid black;
    margin-bottom: 30px;
}

.racingInfoheader {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #f03726;
}

.racingInfoPlayers {
    margin-bottom: 10px;
    padding: 10px;
}

.raceTrack {
    margin: 5px 0;
}

.track {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
}

.avatar {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fc7e2f;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 100%;
    left: 20%;
}

.initials2 {
    font-size: 12.5px;
    /* 50% of parent */
    color: #fff;
    font-weight: bold;
}


/* class for horizontal rule */


/*******************Id selectors******************/

#mainDiv {
    display: none;
}

/**********buttons and body***************/